In [3]:
import pandas as pd
import numpy as np

In [4]:
s = pd.Series([1, 2, 3], dtype=np.int64, name='Numbers')

In [5]:
s

0    1
1    2
2    3
Name: Numbers, dtype: int64

In [6]:
s.name = "Integers"

In [7]:
s

0    1
1    2
2    3
Name: Integers, dtype: int64

In [8]:
df = pd.DataFrame([[1, 2], [3, 4], [5, 6]],
                  columns=["Odd Numbers", "Even Numbers"])

In [9]:
df

   Odd Numbers  Even Numbers
0            1             2
1            3             4
2            5             6

In [10]:
df["Even Numbers"].name

'Even Numbers'